@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: "Poppins", sans-serif;
    color: #51A3A3;
}

/* header */
h1 {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
}

.container-header{
    background-color:#3B3561;
    display: block;
    width: 100%;
    text-align: center;
    height: 100px;
}

.row-header{
    display: flex;
    flex-wrap: wrap;
}

.col-20-logo{
    width: 100%;
    margin: 10px;
}

.col-20-nav{
    width: 100%;
}

.col-20-nav li {
    display: inline-block;
    margin: auto 10px 10px auto;
}

li > a{
    text-decoration: none;
    color: inherit;
}

li > a:hover{
    color: #fff;
}

/* about us section */

.container-about-us{
    width: 100%;
    height: 600px;
    display: block;
}

.row-about-us{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

/* Image by <a href="https://www.freepik.com/free-photo/beautiful-pet-portrait-small-dog-cat_21249175.htm#query=dog%20cat&position=7&from_view=search&track=ais">Freepik</a> --> */
.col-50-image{
    height: 600px;
    width: 100%;
    background: url(../images/beautiful-pet-portrait-small-dog-cat.webp) no-repeat center center;
}

.col-50-text{
    background-color: rgba(209, 209, 209, .7);
    position: absolute;
    color: #000;
    margin: 20%;
    padding: 20px;
    text-align: justify;
}

/* Services section */
/* <a href="https://www.freepik.com/free-photo/happy-female-vet-smiling-petting-beautiful-beagle-dog-exam-table-professional-veterinarian-man-holding-pet-while-examining-healthy-pet-clinic_27999717.htm#query=veterinary&position=0&from_view=search&track=sph">Image by tonodiaz</a> on Freepik */
/* Image by <a href="https://www.freepik.com/free-photo/side-view-woman-washing-dog_31231627.htm#query=dog%20bath&position=43&from_view=search&track=ais">Freepik</a> */
/* <a href="https://www.freepik.com/free-photo/haircuting-process-small-dog-sits-table-dog-with-professional_17066326.htm#query=dog%20grooming&position=4&from_view=search&track=ais">Image by prostooleh</a> on Freepik */
/* <a href="https://www.freepik.com/free-photo/dog-bed-morning_6978017.htm#query=hotel%20dog&position=26&from_view=search&track=ais">Image by Racool_studio</a> on Freepik */

.container-services{
    width: 100%;
    height: 600px;
    display: block;
}

.row-services{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}

.col-25-services-1{
    background: url(../images/vet-examining-beagle-sm.webp) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 150px;
    color: inherit;
    text-align: center;
    color: rgba(0, 0, 0, 0);
}

.text-and-hover-effect > h3{
    padding-top: 40px;
    color: #fff;
}

.text-and-hover-effect:hover{
    background-color: rgba(209, 209, 209, .7);
    color: #000;
    width: 100%;
    height: 150px;
    text-align: center;
}

.col-25-services-2{
    background: url(../images/bath-dog-sm.webp) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 150px;
    color: inherit;
    text-align: center;
    color: rgba(0, 0, 0, 0);
}

.col-25-services-3{
    background: url(../images/grooming-dog-sm.webp) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 150px;
    color: inherit;
    text-align: center;
    color: rgba(0, 0, 0, 0);
}

.col-25-services-4{
    background: url(../images/dog-in-bed-sm.webp) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 150px;
    color: inherit;
    text-align: center;
    color: rgba(0, 0, 0, 0);
}

/* form and iframe section */
/* 
#contact-us{
    background-color: #3B3561;
} */

#contact-us h3{
    margin: auto auto 20px 3%;
    padding-top: 20px;
}

#contact-us label{
    padding-left: 3%;
}

.label-name{
    padding-right: 20px;
}

.label-email{
    padding-right: 25px;
}

.label-select{
    padding-right: 10px;
}

.input-style{
width: 250px;
border-radius: 10px;
height: 25px;
margin-bottom: 20px;
border: 1px solid #000;
}

select{
    padding-left: 10px;
}

#message{
    margin: 10px auto auto 3%;
    border-radius: 20px;
    border: 1px solid #000;
}

button{
    height: 25px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px auto 10px 48%;
    background-color: #3B3561;
    color:#fff;
}

button:hover{
    background-color: #51A3A3;
    color:#fff;
}

/* footer section */

.container-footer{
    width: 100%;
    height: 100px;
    background-color: #3B3561;
    color: inherit;
    display: block;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}

.col-100-social-networks li{
    display: inline-block;
    text-align: center;
    padding: 20px;
    height: 20px;
}

@media screen and (min-width: 801px){

    /* about us section */

    .row-about-us{
        display: flex;
        flex-wrap: wrap;
    }

    .col-50-image{
        height: 400px;
        width: 100%;
        background: url(../images/beautiful-pet-portrait-small-dog-cat.webp) no-repeat center center;
    }
    .col-50-text{
        background-color: rgba(209, 209, 209, .7);
        position:relative;
        color: #000;
        margin: 0;
        padding-top: 30px;
        text-align: justify;
        height: 150px;
    }

    /* services section */

    .col-25-services-1{
        background: url(../images/vet-examining-beagle-medium.jpg) no-repeat center center;
        background-size: cover;
        width: 50%;
        height: 300px;
        color: inherit;
        text-align: center;
        color: rgba(0, 0, 0, 0);
    }

    .col-25-services-2{
        background: url(../images/bath-dog-medium.jpg) no-repeat center center;
        background-size: cover;
        width: 50%;
        height: 300px;
        color: inherit;
        text-align: center;
        color: rgba(0, 0, 0, 0);
    }

    .text-and-hover-effect h3{
        padding-top: 25%;
    }
}